
<section class="content">

    <div class="row row-margin justify-content-between">

        <div class="col-3">
            <input type="search" class="form-control" placeholder="Suche">
        </div>

        <div class="col-9">

            <div class="row justify-content-end">

                @{ var status = (Model.Request.Query.ContainsKey("status")) ? Model.Request.Query["status"] : null; }

                <div class="col-auto">
                    @{ var clsNew = (status == "new") ? "btn-info" : "btn-outline-info"; }
                    @{ var queryNew = (status == "new") ? string.Empty : "?status=new"; }
                    <a href="@Model.Route($"./{queryNew}")" class="btn btn-block @clsNew">Neu</a>
                </div>

                <div class="col-auto">
                    @{ var clsPrepared = (status == "prepared") ? "btn-primary" : "btn-outline-primary"; }
                    @{ var queryPrepared = (status == "prepared") ? string.Empty : "?status=prepared"; }
                    <a href="@Model.Route($"./{queryPrepared}")" class="btn btn-block @clsPrepared">Vorbereitet</a>
                </div>

            </div>

        </div>

    </div>

    <div class="row row-margin">

        <div class="col-12">

            <div class="card">

                <div class="card-body">

                    <div class="row">

                        <div class="col-sm-12 table-responsive">

                            <table class="table table-bordered table-striped table-hover">
                            
                                <thead class="thead-light">
                                    <tr role="row">
                                        <th>Nummer</th>
                                        <th>Status</th>
                                        <th>Kunde</th>
                                        <th>Titel</th>
                                        <th>Erstellt</th>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    @foreach (var c in Model.Data.Records)
                                    {
                                        <tr data-id="@c.Number" class="record" style="cursor: pointer;">
                                            <td scope="row">@c.Number</td>
                                            <td>
                                                @{
                                                    switch ((int)c.Status)
                                                    {
                                                        case 0:
                                                            <span class="badge badge-info">Neu</span>
                                                            break;
                                                        case 1:
                                                            <span class="badge badge-primary">Vorbereitet</span>
                                                            break;
                                                        case 2:
                                                            <span class="badge badge-success">Veröffentlicht</span>
                                                            break;
                                                        case 3:
                                                            <span class="badge badge-secondary">Ausgelaufen</span>
                                                            break;
                                                        case 4:
                                                            <span class="badge badge-warning">Zurückgezogen</span>
                                                            break;
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @c.Customer.Title
                                                @c.Customer.FirstName
                                                @c.Customer.Name
                                            </td>
                                            <td>@c.Title</td>
                                            <td>@c.Created.ToLocalTime()</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>

                    </div>

                    <div class="row justify-content-end">

                        <div class="col-auto">

                            <div class="dataTables_paginate paging_simple_numbers" id="customers_paginate">

                                <ul class="pagination">

                                    @if (Model.Data.CurrentPage > 1)
                                    {
                                        <li class="paginate_button page-item previous" id="customers_previous"><a href=".?page=@(Model.Data.CurrentPage - 1)" class="page-link">Vorherige</a></li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item previous disabled" id="customers_previous"><a href="#" class="page-link">Vorherige</a></li>
                                    }

                                    @for (int i = Model.Data.CurrentPage - 3; i < Model.Data.CurrentPage; i++)
                                    {
                                        @if (i >= 1)
                                        {
                                            <li class="paginate_button page-item "><a href="./?page=@i" tabindex="0" class="page-link">@i</a></li>
                                        }
                                    }

                                    <li class="paginate_button page-item active"><a href="#" class="page-link">@Model.Data.CurrentPage</a></li>

                                    @for (int i = Model.Data.CurrentPage + 1; i < Model.Data.CurrentPage + 3; i++)
                                    {
                                        @if (i <= Model.Data.PageCount)
                                        {
                                            <li class="paginate_button page-item "><a href="./?page=@i" class="page-link">@i</a></li>
                                        }
                                    }

                                    @if (Model.Data.CurrentPage + 1 <= Model.Data.PageCount)
                                    {
                                        <li class="paginate_button page-item next" id="customers_next"><a href="./?page=@(Model.Data.CurrentPage + 1)" class="page-link">Nächste</a></li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item next disabled" id="customers_next"><a href="#" class="page-link">Nächste</a></li>
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>


<script>

    window.addEventListener("load", function() {

        $(".record").click(function () {
            window.location = "./details/" + $(this).data("id") + "/";
        });

    });

</script>

